*{
    margin: 0;
    padding: 0;
    font-family: "Baloo 2", sans-serif;
}
body{
    height: fit-content;
}

.header{
    height: 650px;
}

.bg{
    width: 100%;
    height: 70vh;
    background-color: #92c9b1;
    overflow: hidden;
    padding-top: 60px;
}

.nav-bar{
    width: 60%;
    height: 80px;
    justify-self: center;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding-left: 10px;
   padding-right: 10px;
}



.nav-bar h2 {
    font-family: "Baloo 2", sans-serif;
    color: #92C9B1;
    border: 3px solid #92C9B1;
    width: fit-content;
    height: fit-content;
    padding: 3px;
}

.links {
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: #7A7D7C;
    font-family: "Baloo 2", sans-serif;
    font-size: 18px;
}

.dropdown {
    position: relative;
    width: 150px;
}

.icon{
    font-size: 20px;
    width: 35px;
    height: auto;
    background-color: #92C9B1;
    border-radius: 20px;
    border: solid 1px #92C9B1;
    color: #fff;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content{
    width: 100px;
    position: absolute; 
    display: none;
    background-color: #fff;
    padding: 10px;
}

.hero{
    margin-top: 100px;
    width: 30%;
    justify-self: center;
}

.hero h2{
    font-family: "Baloo 2", sans-serif;
    font-size: 40px;
    color: #fff;
}

.search-inputs{
    width: 50%;
    justify-self: center;
    display: flex;
    justify-content: center;
}

.search{
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    margin-top: -50px;
    justify-content: space-around;
    align-items: center;
}

.inputs{
    width: 60%;
    display: flex;
    justify-content: space-between;
}



.inputs h3 {
    font-size: 24px;
    color: #4F759B;
    font-family: "Baloo 2", sans-serif;

}

.inputs input {
    border: none;
    font-size: 14px;
    border-bottom: solid 1px #4f759b;
    color: #4F759B;
    height: 40px;
}

.inputs input:focus{
    box-shadow: none;
    border: none;
    border-bottom: solid 1px #4f759b;
    outline: none;
}

.inputs input::placeholder{
    color: #4F759B;
    font-size: 14px;
}

.buttons-searcher button{
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #fff;
    border-radius: 2px;
}

#search {
    background-color: #4F759B;
    border: #4F759B solid 1px;
    color: #fff;
    font-size: 14px;
    font-family: "Baloo 2", sans-serif;
    font-weight: bold;
}

#search:hover {
    background-color: #fff;
    color: #4F759B;
}

#clear {
    font-size: 14px;
    font-family: "Baloo 2", sans-serif;
    color: #4F759B;
    font-weight: bold;
}

.container-1{

    margin-top: 50px;
    width: 90%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items:center ;
    
}
.products {
    border: 1px solid #ccc;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
}

.product-section{
    border: 1px solid blue;
    width: 80%;
    height: 500px;
    display: flex;
    align-self: center;
    justify-content: center;
}

.product{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 30%; 
    height: 400px;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5px;
}

.lastpart{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.product-image{
width: 300px;
height: 250px;
}

.product h3{
font-size: 24px;
color: #4F759B;
font-weight: bold;
font-family: "Baloo 2", sans-serif;

}

.product p{
font-size: 14px;
color: #4F759B;
font-weight: 500;
font-family: "Baloo 2", sans-serif;
}

.btn-view{
width: 50px;
height: 20px;
background-color: #4F759B;
font-family: "Baloo 2", sans-serif;
border: none;
border-radius: 5px;
color: #fff;
}

.product-info hr{
width: 90%;
color: #4F759B;
background-color: #4F759B;
align-self: center;

}

.product-info{
margin-top: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 130px;
}

.pR{
    font-size: 50px;
    font-weight: bold;
    font-family: "Baloo 2", sans-serif;
    color: #92c9b1;
}

.container-2{
    max-width: 950px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: #dadad8;
    margin-bottom: 50px;
}
.background1{
    background-color: #d9d9d9;
    padding: 30px;
    width: 400px;
}

.background1 h2{
    line-height: 1.3;
    font-size: 50px;
    font-family: "Baloo 2", sans-serif;
    color: #4F759B;
    font-weight: bold;
}

.background1 p {
    margin-top: 10px;
    font-size: 16px;
    font-family: "Baloo 2", sans-serif;
    color: #4F759B;
}

.form{
    position: absolute;
    top: 40%;
    right: 10%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 250px;
    align-items: center;
    transform: translateY(-50%);
}

.form h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #4F759B;
    font-family: "Baloo 2", sans-serif;
}

.form input{
    margin-top: 10px;
    padding-left: 5px;
    height: 45px;
    width: 200px;
    font-family: "Baloo 2", sans-serif;
    font-size: 14px;
    border: solid 1px #ccc;
}

.form input:focus{
    box-shadow: none;
    outline: none;
   
}

.form button{
    margin-top: 20px;
    width: 100%;
    height: 30px;
    background-color: #4F759B;
    color: #fff;
    font-family: "Baloo 2", sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #4F759B;
    border-radius: 5px;
}

.picture{
    position: absolute;
    top: 7%;
    right: -10%;
}